<div class="outer d-flex justify-content-center align-items-center">

    <div class="box">
      <div class="d-flex justify-content-center align-items-centers flex-column">

        <h1 class="align-items-center">login</h1>

<div class="inputs">
  <input type="text"  class="form-control" [(ngModel)]="nameModel" placeholder="name"/>



  <input type="text"  class="form-control" [(ngModel)]="pinModel" placeholder="pin"/>
</div>




        <button class="btn  btn-secondary btn-lg " (click)="login()">start</button>
      </div>
    </div>




</div>

