<div class="d-flex  flex-row align-items-center radio " >
  <h4>{{title}}:</h4>
  <ng-container *ngFor="let option of options">
    <label>
      <input type="radio" name="test" value="small"  [value]="option" [formControl]="control" (change)="onChange(option)" id="{{id}}">
      <div class="custom">
        <img *ngIf="!onlyText" [src]="'/assets/images/radioImg/'+option+'.jpg'">
        <div *ngIf="onlyText"><b>{{option}}</b></div>
      </div>

    </label>

  </ng-container>
  <label >
    <div class="custom" (change)="remove()"><b>remove</b></div>
  </label>
</div>

